<header [ngClass]="{'isDark': currentTheme == 'dark'}">
    <div class="cometa">
      <div class="menu">
        <mat-icon>menu</mat-icon>
      </div>
      <div class="logo">            
          <span>co.</span><span>meta</span>
      </div>
    </div>
    <div class="nav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Screenshots</a></li>
        <li><a href="">Architecture</a></li>
        <li><a href="">Enterprise</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div>
      <div class="switcher">
        <div class="theme-switcher">
          <p>LIGHT</p>
          <div [ngClass]="{'isDark': currentTheme == 'dark'}"  (click)="switchTheme()" class="switch"></div>
          <p>DARK</p>
        </div>
        <div class="lang-switcher">
          <p>EN</p>
          <div class="separator">|</div>
          <p>CA</p>
        </div>
      </div>
    </div>
  </header>
