<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-mobile">

  <div class="text">
    <h1>Web Testing</h1>
    <h2>We have been waiting for you!</h2>
    <h4>Some do testing already, some do not. We know that.</h4>
    <h4>Testing can be a stressful job, manual testing is either fault prone or tedious.</h4>
    <h4>Automated testing is often hard-code.</h4>
    <h4>And fixing testcases can be a fulltime job.</h4>
    <h4>Don’t break your code. Don’t break your layout. Relax.</h4>
  </div>

  <div class="mobile">
    <div class="screen">
      <div class="header">
        <div class="icons">
          <div></div>
          <div></div>
        </div>
        <div class="icons">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="content">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>