<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-users">

    <div class="header">
        <h2 data-aos="fade-up">Cometa Feedback</h2>
        <div class="separator"></div>
        <p data-aos="fade-up"> Here is some feedback from people who already had some taste of cometa</p>
    </div>
    
    <div class="content-wrapper">
        <div data-aos="fade-right" class="logo"></div>
        <div class="content">
            <div class="title"><h1 data-aos="fade-left">What co.meta users say</h1></div>
            <div data-aos="fade-left" class="testimonial" *ngFor="let testimonial of testimonials">
                <span class="testimonial-quote">&quot;{{testimonial.quote}}</span>
                <i> {{testimonial.text}}&quot; </i>
                <p class="testimonial_from" style="font-family: 'Montserrat','Arial'; padding-top:20px">
                    {{testimonial.form}}
                    <br />{{testimonial.footer_text}}
                </p>
            </div>
        </div>
    </div>

    <div class="links">
        <div class="link">
            <div data-aos="fade-right" class="title"><a target="_blank" href="https://ocagzojn33k.typeform.com/to/G2VgVbbB">Request early access to Co.meta</a></div>
            <p data-aos="fade-right">
                The open beta has ended.
                We invite you to request access before going public.
                You have the exclusive opportunity to test and use co.meta without paying.
                By doing so, you will be able to access our private repository and discussion channels on discord and telegram.
            </p>      
        </div>
        <div class="link">
            <div data-aos="fade-right" class="title" (click)="activateDonatePanel()"><a>Donate</a></div>
            <p data-aos="fade-right">Show that you understand where we are going. Express that you are more than interested ...</p>

            <div class="donate-panel" *ngIf="donatePanelIsActive">
                <p>Great to see your interest. Thank you so much. Let us know for what reason your are donating ...</p>
                <form [formGroup]="donateForm">
                    <div class="form-group">
                        <textarea type="text" formControlName="reason" class="form-control" placeholder="Donate reason..."></textarea>
                    </div>
                    <div class="form-group">
                        <div class="amount-buttons">
                            <div>
                                <p>Helper</p>
                                <input [ngClass]="{'isSet': form['amount'].value === '10'}" (click)="setAmount(10)" type="button" value="10">   
                            </div>
                            <div>
                                <p>Supporter</p>
                                <input [ngClass]="{'isSet': form['amount'].value === '29'}" (click)="setAmount(29)" type="button" value="29">   
                            </div>
                            <div>
                                <p>Lover</p>
                                <input [ngClass]="{'isSet': form['amount'].value === '490'}" (click)="setAmount(490)" type="button" value="490">   
                            </div>
                            <div>
                                <p>Angel</p>
                                <input style="padding-left: 10px" [ngClass]="{'isSet': form['amount'].value != '490' 
                                                         && form['amount'].value != '29' 
                                                         && form['amount'].value != '10'
                                                         && form['amount'].value != '' }" 
                                                        (input)="setCustomeAmount($event)" 
                                                        type="number" 
                                                        placeholder="custome">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="form['amount'].value > 0" class="form-group">
                        <div class="subscribe-time">
                            <button [disabled]="loading" (click)="onSubmit('year')">yearly</button>
                            <button [disabled]="loading" (click)="onSubmit('month')">monthly</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>