$heavy-orange: #E2B154;
$lightgray: lightgray;
$gray: gray;
$white: #ffffff;
$whitish: #f1f1f1;
$blackish: #111111;
$medium-gray: #aeabab;
$p-fsize: .9em;
$a-fsize: .9em;

header {
    height: 4em;
    background-color: $blackish;
    color: $whitish;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin-left: 1em;
        display: flex;
        align-items: center;

        span {
            font-size: 30px;
            font-weight: bold;

            &:nth-child(1) {
                color: $heavy-orange;
            }

            &:nth-child(2) {
                color: gray;
            }
        }

    }

    .nav {
        display: none; 

        ul {
            display: flex;
            list-style-type: none;

            li {
                margin: 0 1em;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .theme-switcher, 
    .lang-switcher {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $heavy-orange;
    }

    .theme-switcher p,
    .lang-switcher p {
        font-size: $p-fsize;
        font-weight: bold;
        margin: .5em 1em;
    }

    .lang-switcher {
        p {
            cursor: pointer;
        }
    }

    .theme-switcher {
        .switch {
            position: relative;
            width: 2em;
            height: .8em;
            border: 2px solid $heavy-orange;;
            border-radius: 1em;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 1.5px;
                left: 2px;
                height: .4em;
                width: .4em;
                background-color: $heavy-orange;;
                border-radius: 50%;
                transition: .2s;
            }

            &:active::before{
                width: .5em;
            }
        }
    }

}

main {
    padding: 0 1%;

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 0;
            text-align: center;

            @media (min-width: 568px) { 
                width: 85%;
            }

            @media (min-width: 850px) { 
                width: 70%;
            }

            @media (min-width: 1085px) { 
                width: 60%;
            }

            h1, h2, h4 {
                padding: .5em 0;
            }

            h1 {
                color: $heavy-orange;
                font-size: 2em;

                @media (min-width: 850px) { 
                    font-size: 3.5em;
                }
                @media (min-width: 1200px) { 
                    font-size: 4em;
                }
            }

            h2 {
                @media (min-width: 850px) { 
                    font-size: 2.5em;
                }
                @media (min-width: 1200px) { 
                    font-size: 2em;
                }
            }

            h4 {
                padding: 1em 2em;

                @media (min-width: 850px) { 
                    font-size: 1em;
                }
                @media (min-width: 1200px) { 
                    font-size: 1.5em;
                }
            }
        }
    }


    .laptop {
        height: 140px;
        width: 80%;
        background: $lightgray;
        border-radius: .4em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid $heavy-orange;
        border-bottom: none;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 340px) { 
            height: 160px;
        }
        @media (min-width: 470px) { 
            height: 200px;
        }
        @media (min-width: 530px) { 
            height: 250px;
        }
        @media (min-width: 570px) { 
            height: 300px;
        }
        @media (min-width: 690px) { 
            height: 350px;
        }
        @media (min-width: 850px) { 
            height: 400px;
        }
        @media (min-width: 1085px) { 
            width: 800px;
        }
        .output {
            height: 90%;
            width: 94%;
            background: $white;
            border-radius: .4em;
            transition: 2s;
            -webkit-transition: 2s;

            .header {
                width: 98%;
                height: 8%;
                background: $lightgray;
                margin-top: .5%;
                display: flex;
                justify-content: space-between;
                margin-left: 1%;
                border-radius: .2em;

                @media (min-width: 530px) { 
                    height: 5%;
                }

                .logo {
                    margin-left: 5px;
                    font-size: 0;

                    span { 
                        font-size: 8px;
                        font-weight: bold;

                        &:nth-child(1) {
                            color: $heavy-orange;
                        }
                        &:nth-child(2) {
                            color: $gray;
                        }

                        @media (min-width: 470px) { 
                            font-size: 10px;
                        }
                        @media (min-width: 690px) { 
                            font-size: 12px;
                        }
                        @media (min-width: 850px) { 
                            font-size: 14px;
                        }
                    }
                }

                .router-links {
                    display: flex;
                    align-items: center;

                    div {
                        height: 80%;
                        width: 8px;
                        background: $medium-gray;
                        margin: 5px;
                        border-radius: 10px;

                        @media (min-width: 470px) { 
                            width: 12px;
                        }
                        @media (min-width: 530px) { 
                            width: 10px;
                        }

                        @media (min-width: 690px) { 
                            width: 12px;
                        }
                        @media (min-width: 850px) { 
                            width: 14px;
                        }
                    }
                }
            }

            .path {
                height: 8%;
                width: 40px;
                background: lightgray;
                margin-top: 10px;
                margin-left: 1%;
                border-radius: 3px;

                @media (min-width: 530px) { 
                    height: 6%;
                }

                @media (min-width: 570px) { 
                    height: 5%;
                }

                p { 
                    font-size: 8px;
                    padding-left: 5px;
                    padding-top: 1px;

                    @media (min-width: 470px) { 
                        font-size: 10px;
                    }

                    @media (min-width: 690px) { 
                        font-size: 11px;
                    }
                    @media (min-width: 850px) { 
                        font-size: 12px;
                    }
                }
            }

            p {
                margin: 0;
                margin-left: 1%;
                margin-top: 4%;
                font-size: 8px;
                color: gray;
                font-weight: bold;

                @media (min-width: 470px) { 
                    font-size: 10px;
                }

                @media (min-width: 850px) { 
                    margin-top: 2%;
                }
            }

            .folders {
                width: 98%;
                margin-left: 1%;
                margin-top: 3%;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-gap: 5px;

                div {
                    height: 15px;
                    background: $lightgray;
                    border-radius: 5px;

                    @media (min-width: 570px) { 
                        height: 20px;
                    }
                    @media (min-width: 690px) { 
                        height: 25px;
                    }

                    @media (min-width: 850px) { 
                        height: 30px;
                    }

                    &:nth-last-child(-n+1) {
                        display: none;
                        @media (min-width: 470px) { 
                            display: inline-block;
                        }
                    }
                }
            }

            .features {
                width: 98%;
                margin-left: 1%;
                margin-top: 3%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-column-gap: 5px;
                row-gap: 10px;

                @media (min-width: 530px) { 
                    row-gap: 20px;
                }
                
                div {
                    position: relative;
                    height: 25px;
                    background: lightgray;
                    border-radius: 5px;
                    border-top-right-radius: 0;

                    @media (min-width: 570px) { 
                        height: 35px;
                    }

                    @media (min-width: 690px) { 
                        height: 40px;
                    }

                    @media (min-width: 850px) { 
                        height: 55px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        background: #c7c3c3;
                        height:5px;
                        width: 50%;
                        top: -5px;
                        right: 0;
                        border-top-left-radius: 1em;

                        @media (min-width: 690px) { 
                            height: 10px;
                            top: -10px;
                        }
                    }

                    &:nth-last-child(-n+4) {
                        display: none;
                        @media (min-width: 530px) { 
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .keyboard {
        width: 100%;
        height: 6px;
        background: #bdbcbc;
        border-bottom-right-radius: 3em;
        border-bottom-left-radius: 3em;
        box-shadow: 0px 10px 10px -8px rgba(0,0,0,1);
        border: 1px solid $heavy-orange;
        border-top: none;

        @media (min-width: 280px) { 
            width:85%;
        }
        @media (min-width: 340px) { 
            height: 8px;
        }
        @media (min-width: 470px) { 
            height: 10px;
        }
        @media (min-width: 530px) { 
            height: 12px;
        }
        @media (min-width: 570px) { 
            height: 14px;
        }
        @media (min-width: 690px) { 
            height: 16px;
        }
        @media (min-width: 850px) { 
            height: 18px;
        }
        @media (min-width: 1085px) { 
            height: 20px;
            width: 900px;
        }
    }
}