$heavy-orange: #E2B154;
$lightgray: lightgray;
$lightgreen: lightgreen;
$lightblue: lightblue;
$gray: gray;
$white: #ffffff;
$whitish: #f1f1f1;
$blackish: #111111;
$black: black;
$medium-gray: #aeabab;
$p-fsize: .9em;
$a-fsize: .9em;


.section-contact-us {
    padding: 50px 10%;
    background-color: $white;

    .header {
        padding-bottom: 50px;
        width: 100%;
        text-align: center;

        h2 {
            @media (min-width: 850px) { font-size: 2.5em; }
            @media (min-width: 1200px) { font-size: 2em; }
        }

        .separator {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: $heavy-orange;
            margin: 10px 0;
            border: 5px solid white;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                height: 1px;
                width: 100px;
                background-color: $heavy-orange;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                height: 1px;
                width: 100px;
                background-color: $heavy-orange;
            }
        }

        p {
            font-weight: bold;
            padding: 5px 0;
        }
    }

    &.isDark {
        background-color: $black;
        color: $whitish;
    }
}