<div [ngClass]="{'isDark': currentTheme == 'dark'}" class="section-laptop">
    <div class="text">
      <h1 data-aos="fade-up" data-aos-delay="100">
        Functional and Visual Regression Testing with excellence
      </h1>
      <h2 data-aos="fade-up" data-aos-delay="300">Don't break code. Don't break layout.</h2>
      <h2 data-aos="fade-up" data-aos-delay="500">Using cometa provides many benefits for your project.</h2>
      <h4 data-aos="fade-up" data-aos-delay="700">Automation of human actions on websites made easy.
          100% Open source made with ♥ in Barcelona.
          Visual comparison with screenshots!
          Easy UI testing on over 2000 devices.
          REST API integrates easy and smooth.
          Now that you know it - there are no more excuses left.</h4>
    </div>
    <div class="laptop">
      <div class="output">
        <div class="header">
          <div class="logo">
            <span>co.</span>
            <span>meta</span>
          </div>
          <div class="router-links">
            <div></div><div></div><div></div>
          </div>
        </div>
        <p>Folders</p>
        <div class="folders">
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <p>Features</p>
        <div class="features">
          <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
      </div>
    </div>
    <div class="keyboard"></div>  
  </div> 